@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter var', system-ui, -apple-system, sans-serif;
}

html {
  background-color: #f9fafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}